* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem; }
  header .left {
    width: 65%;
    display: flex;
    justify-content: space-around; }
    header .left #img {
      width: 70%; }
      header .left #img img {
        width: 100%;
        height: 100%; }
    header .left p {
      width: 35%;
      font-size: 2rem;
      padding-left: 1rem; }
  header .right {
    width: 30%;
    display: flex;
    justify-content: space-around; }
    header .right img {
      width: 2rem; }

article {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto; }

.magior {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden; }

footer ul {
  display: flex;
  justify-content: space-around; }
  footer ul li {
    list-style: none;
    text-align: center; }
    footer ul li a {
      text-decoration: none;
      color: black; }
      footer ul li a:link {
        color: black; }
      footer ul li a:visited {
        color: black; }
      footer ul li a:hover {
        color: red; }
      footer ul li a:active {
        color: red; }
      footer ul li a img {
        width: 2rem; }
      footer ul li a p {
        font-size: 1.7rem;
        padding-top: 0.5rem; }

article .banner {
  width: 100%;
  position: relative;
  overflow: hidden; }
  article .banner .lun {
    width: 300%;
    position: relative;
    overflow: hidden;
    display: flex;
    left: 0;
    top: 0; }
    article .banner .lun li {
      list-style: none;
      width: 100%; }
      article .banner .lun li img {
        width: 100%;
        height: 100%; }
  article .banner .bar {
    position: absolute;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 35%;
    bottom: 1rem; }
    article .banner .bar span {
      display: block;
      width: 2rem;
      height: 3px;
      background: yellow; }
      article .banner .bar span.on {
        background: red; }
article .table {
  width: 100%;
  padding: 2rem; }
  article .table .one {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    article .table .one ul {
      width: 33%; }
      article .table .one ul#plane {
        background: url(img/t48tn619150859.png); }
      article .table .one ul li {
        height: 40px;
        width: 100%;
        list-style: none;
        text-align: center;
        line-height: 40px;
        font-size: 1.7rem;
        color: white;
        margin-bottom: 0.1rem; }
      article .table .one ul li:not(.aa) {
        background: url(img/fz4l4220151302.png); }
  article .table .two {
    width: 100%;
    margin-top: 0.1rem; }
    article .table .two ul {
      width: 100%;
      display: flex; }
      article .table .two ul li {
        list-style: none;
        margin-right: 0.1rem;
        text-align: center;
        font-size: 1.7rem;
        color: white;
        height: 40px;
        line-height: 40px;
        width: 33%;
        background: url(img/h8vr2020151218.png); }
  article .table .three {
    margin-top: 0.1rem;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    article .table .three ul {
      width: 33%; }
      article .table .three ul#plane {
        background: url(img/4v824b19151417.png); }
      article .table .three ul li {
        height: 40px;
        width: 100%;
        list-style: none;
        text-align: center;
        line-height: 40px;
        font-size: 1.7rem;
        color: white;
        margin-bottom: 0.1rem; }
      article .table .three ul li:not(.aa) {
        background: url(img/20hf6v20150952.png); }

.news {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem; }
  .news .img {
    width: 40%; }
    .news .img img {
      width: 100%; }
  .news .swiper-container {
    width: 60%;
    text-align: center; }
    .news .swiper-container .swiper-slide {
      height: 50px;
      line-height: 30px;
      font-size: 1.6rem;
      color: red; }

#visa {
  width: 100%;
  height: 7rem;
  align-items: center;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between; }
  #visa .visa-l p:first-child {
    font-size: 1.7rem;
    font-weight: bold; }
  #visa .visa-l p:last-child {
    font-size: 1.3rem;
    padding-top: 0.5rem; }
  #visa .visa-r {
    font-size: 2rem; }

.visa-in {
  padding: 0rem 1rem; }
  .visa-in ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem; }
    .visa-in ul li {
      width: 31%;
      list-style: none;
      text-align: center; }
    .visa-in ul .a {
      color: white;
      font-size: 1.8rem;
      height: 90px;
      line-height: 90px;
      border-radius: 1rem;
      background-image: url(img/13.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .visa-in ul .b {
      font-size: 1.7rem;
      color: red;
      padding-top: 0.5rem; }

#visa-out {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc; }

.week-in {
  width: 100%; }
  .week-in ul {
    width: 100%;
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-around; }
    .week-in ul li {
      width: 48%;
      height: 205px;
      overflow: hidden;
      list-style: none;
      border-radius: 10%; }
      .week-in ul li img {
        width: 100%; }
      .week-in ul li .price1 {
        font-size: 2rem;
        color: red; }
      .week-in ul li .price2 {
        text-decoration: line-through;
        font-size: 1.7rem;
        color: #999;
        padding-left: 0.5rem; }
      .week-in ul li p {
        padding-bottom: 1rem; }
      .week-in ul li .word {
        font-size: 2rem; }

.week {
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCCCCC; }

.place-in {
  width: 100%; }
  .place-in ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem; }
    .place-in ul li {
      width: 25%;
      list-style: none;
      text-align: center;
      font-size: 1.7rem; }
      .place-in ul li img {
        width: 1.5rem; }

.place {
  padding-bottom: 2rem;
  border-bottom: 1px solid #CCCCCC; }

.life {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid #CCCCCC; }
  .life #outdoor {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 1rem 0rem;
    background-image: url(img/thd6vb22173921.jpg);
    background-size: 100% 100%; }
    .life #outdoor p {
      z-index: 99;
      color: white;
      font-size: 2rem; }
    .life #outdoor .out-one {
      width: 120px;
      text-align: center;
      border-radius: 1rem;
      padding: 1rem;
      background: white;
      color: black; }
    .life #outdoor .out-two {
      font-size: 2.5rem; }
    .life #outdoor .door {
      position: absolute;
      top: 8rem; }
  .life .list {
    margin: 0 2rem;
    width: 100%; }
    .life .list ul {
      width: 100%;
      padding-bottom: 1rem; }
      .life .list ul li {
        display: flex;
        width: 100%;
        list-style: none; }
        .life .list ul li .list-l {
          width: 40%; }
          .life .list ul li .list-l img {
            width: 100%;
            border-radius: 10%; }
        .life .list ul li .list-r {
          padding-left: 0.5rem;
          width: 58%;
          padding-left: -2rem; }
          .life .list ul li .list-r .list-r-1 {
            font-size: 2rem; }
          .life .list ul li .list-r .list-r-2 {
            font-size: 2rem;
            color: red;
            margin-top: 5rem; }
  .life #outdoor2 {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 1rem 0rem;
    background-image: url(img/t026dn06181610.jpg);
    background-size: 100% 100%; }
    .life #outdoor2 p {
      z-index: 99;
      color: white;
      font-size: 2rem; }
    .life #outdoor2 .out-one {
      width: 120px;
      text-align: center;
      border-radius: 1rem;
      padding: 1rem;
      background: white;
      color: black; }
    .life #outdoor2 .out-two {
      font-size: 2.5rem; }
    .life #outdoor2 .door {
      position: absolute;
      top: 8rem; }
  .life .list {
    margin: 0 2rem;
    width: 100%; }
    .life .list ul {
      width: 100%;
      padding-bottom: 1rem; }
      .life .list ul li {
        display: flex;
        width: 100%;
        list-style: none; }
        .life .list ul li .list-l {
          width: 40%; }
          .life .list ul li .list-l img {
            width: 100%;
            border-radius: 10%; }
        .life .list ul li .list-r {
          padding-left: 0.5rem;
          width: 58%;
          padding-left: -2rem; }
          .life .list ul li .list-r .list-r-1 {
            font-size: 2rem; }
          .life .list ul li .list-r .list-r-2 {
            font-size: 2rem;
            color: red;
            margin-top: 5rem; }

#friend {
  width: 100%;
  padding: 1rem; }
  #friend .friend-1 {
    width: 100%;
    padding: 1rem;
    display: flex; }
    #friend .friend-1 img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%; }
    #friend .friend-1 .name {
      width: 70%;
      font-size: 1.7rem;
      padding-left: 1rem; }
      #friend .friend-1 .name .orange {
        padding: 1rem;
        background: orange;
        border-radius: 1rem; }
  #friend .wen {
    width: 85%;
    margin-left: 15%;
    font-size: 2rem;
    padding-bottom: 1rem; }
  #friend .down {
    width: 85%;
    margin-left: 15%;
    padding-bottom: 2rem;
    border-bottom: 1px solid #CCCCCC; }
    #friend .down img {
      width: 100%;
      border-radius: 10%; }

.down2 {
  width: 85%;
  margin-left: 15%; }
  .down2 img {
    width: 100%;
    border-radius: 10%; }

.foot {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem; }
  .foot li {
    list-style: none;
    text-align: center;
    width: 25%;
    font-size: 1.5rem; }

#return {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  display: none; }

/*# sourceMappingURL=home.css.map */
